In [4]:
from project.rebel import make_kb

text = 'Punta Cana is a resort town in the municipality of Higüey, in La Altagracia Province, the easternmost province of the Dominican Republic.'

kb = make_kb(text)

In [2]:
import pandas as pd

pd.DataFrame(kb, columns=['head', 'relation', 'tail'])

,head,relation,tail
0,Higüey,country,Dominican Republic
1,Punta Cana,country,Dominican Republic
2,province,country,Dominican Republic
3,La Altagracia Province,instance of,province
4,La Altagracia Province,country,Dominican Republic
5,Dominican Republic,contains administrative territorial entity,La Altagracia Province
6,Higüey,located in the administrative territorial entity,La Altagracia Province
7,Punta Cana,located in the administrative territorial entity,La Altagracia Province

In [2]:
from rebel.rebel import make_kb
import pandas as pd
text = "Napoleon Bonaparte (born Napoleone di Buonaparte; 15 August 1769 – 5 " \
"May 1821), and later known by his regnal name Napoleon I, was a French military " \
"and political leader who rose to prominence during the French Revolution and led " \
"several successful campaigns during the Revolutionary Wars. He was the de facto " \
"leader of the French Republic as First Consul from 1799 to 1804. As Napoleon I, " \
"he was Emperor of the French from 1804 until 1814 and again in 1815. Napoleon's " \
"political and cultural legacy has endured, and he has been one of the most " \
"celebrated and controversial leaders in world history."

In [3]:
print(text)

Napoleon Bonaparte (born Napoleone di Buonaparte; 15 August 1769 – 5 May 1821), and later known by his regnal name Napoleon I, was a French military and political leader who rose to prominence during the French Revolution and led several successful campaigns during the Revolutionary Wars. He was the de facto leader of the French Republic as First Consul from 1799 to 1804. As Napoleon I, he was Emperor of the French from 1804 until 1814 and again in 1815. Napoleon's political and cultural legacy has endured, and he has been one of the most celebrated and controversial leaders in world history.

In [5]:
df = pd.DataFrame(make_kb(text, max_length=1024, num_beams=5, num_return_sequences=5), columns=['head', 'relation', 'tail'])

{'max_length': 1024, 'length_penalty': 0, 'num_beams': 5, 'num_return_sequences': 5}

In [7]:
df

                 head        relation                tail
0  Revolutionary Wars     participant  Napoleon Bonaparte
1  Napoleon Bonaparte  participant in   French Revolution
2  Napoleon Bonaparte        conflict  Revolutionary Wars
3   French Revolution     participant  Napoleon Bonaparte
4  Napoleon Bonaparte   date of birth      15 August 1769
5  Revolutionary Wars         part of   French Revolution
6  Napoleon Bonaparte   date of death          5 May 1821